
$main-color: #20dec8;
$solid-black: #000000;
$solid-white: #ffffff;

$placeholder-color: #b8b8ba;
$solid-light-grey: #f4f4f4;
$solid-blue: #26b3f9;
$solid-dark-blue: #191c45;
$solid-light-pink: #fffaff;
$solid-pink: #e550fb;
$solid-grey: #b8b8ba;
$solid-errors: #ff0c47;
$solid-green: #00b850;