
$main-color: #20dec8;
$main-dark-color: #13d1b4;
$main-light-color: #bcf5ef;
$secondary-color: #a55df7;
$secondary-dark-color: #8a41f3;
$secondary-light-color: #e4cefd;

$solid-black: #000000;
$solid-white: #ffffff;

$placeholder-color: #b8b8ba;
$solid-light-grey: #f4f4f4;
$solid-dark-grey: rgb(98, 98, 98);
$solid-blue: #26b3f9;
$solid-orange: rgb(246, 97, 40);
$solid-dark-blue: #191c45;
$solid-light-pink: #fffaff;
$solid-pink: #e550fb;
$solid-errors: #ff0c47;
$solid-green: #00b850;