@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$main-title-font: 'Pattaya', sans-serif;
$main-text-font: 'Orbitron', sans-serif;
$main-cursive-font: 'Dancing Script', cursive;
