
.color-settings-section {
  position: relative;

  &__tabs {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 48px 72px 48px;
    grid-template-rows: 24px;
    grid-gap: 4px;
  }

  &__tab {
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    color: #26b3f9;
    cursor: pointer;

    &.active {
      background: #26b3f9;
      color: white;
    }
  }
}