
.layer-settings-section {

  &__align-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
  }

  &__align-option {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active,
    &:hover {
      background: #26B3F9;
      color: white;

      .layer-settings-section__align-icon path {
        fill: white;
      }
    }
  }

  &__order-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: left;
    align-items: center;
    grid-gap: 8px;
  }

  &__order-option {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--up {
      transform: rotate(-90deg);
    }

    &--down {
      transform: rotate(90deg);
    }

    &.disabled {
      pointer-events: none;

      .layer-settings-section__order-icon path {
        fill: #b8b8ba;
      }
    }

    &:hover {
      background: #26B3F9;
      color: white;

      .layer-settings-section__order-icon path {
        fill: white;
      }
    }
  }
}