@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';


.responsive {

  &__header {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: $main-color;

    &:before {
      content: '';
      position: absolute;
      top: 24px;
      left: -30px;
      width: 150px;
      height: 20px;
      background: $solid-white;
      transform: rotate(0.4turn);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 24px;
      right: -30px;
      width: 150px;
      height: 20px;
      background: $solid-white;
      transform: rotate(0.4turn);
    }


    &--left {
      width: 300px;
      height: 300px;
      .logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &--right {
      display: grid;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      grid-gap: 20px;

      .company-name {
        font-size: 80px;
        letter-spacing: 10px;
        font-family: $main-title-font;
        color: $solid-white;
        margin: 0;
      }

      .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
      }

      .navigation-item {
        color: $solid-white;
        font-size: 30px;
        font-family: $main-text-font;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 100ms linear;
        border-bottom: 3px inset transparent;

        &:hover {
          border-color: $solid-white;
        }
      }
    }
  }

  &__main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr;
    grid-gap: 20px;
    justify-content: center;

    .examples-list {
      display: grid;
      justify-content: center;
      gap: 20px;
    }

    .vision {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      grid-gap: 30px;
    }

    .posts {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .network {
      display: grid;
      grid-template-rows: auto auto;
      grid-gap: 20px;
      align-items: center;
      width: 100%;

      .team-list {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 15px;
      }

      .partners-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-template-rows: 150px;
        justify-content: center;
        grid-gap: 15px;

        &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }


    }




  }

}